nav{
    font-family: Silkscreen;
    margin: 20px auto;
    height: 36px;
    width: 100%;
    background-color: purple;
}
nav > ul{
    margin: 0 auto;
    padding: 0;
    width: 28%;
}
nav > ul > li{
    display: inline;
    float: left;
    padding: 6px 20px 10px 10px;
}
nav > ul > li > a{
    color: white;
    text-decoration: none;
}
nav > ul > li:hover,
nav > ul > li.active{
    background-color: pink;
    color: black;
}
nav > ul > li.active > a{
    color: black;
}
ul.submeniu{
    text-transform: uppercase;
    display: none;
    list-style: none;
}
nav > ul > li:hover > ul.submeniu{
    display: block;
    background-color: pink;
    clear: both;
    margin-top: 10px;
    position: absolute;
    width: 160px;
    z-index: 100;
}
ul.submeniu > li > a {
    padding: 15px 20px;
    text-decoration: none;
}
ul.submeniu > li:hover {
    background-color: darkorchid;
    color: white;
}
nav > ul > li:hover > ul.submeniu > li{
    padding: 7px 5px 7px 5px;
}
nav > ul > li:hover > ul.submeniu > li > a {
    padding: 7px 5px 7px 5px;
    text-decoration: none;
    color: white;
}