body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    width: 98.5%;
}
.full{
    background-color: lightsteelblue;
    width: 100%;
    height: 400px;
    font-size: 20px;
    background-position: 50% 50%;
    background-size: cover;
}
.full p{
    width: 30%;
    position: relative;
    top: 40%;
    left: 35%;
}
.col2{
    width: 97.7%;
    border: 2px solid blueviolet;
    padding: 20px;
    clear: both;
    display: inline-block;
}
.col2 > main{
    width: 65%;
    float: left;
    padding: 10px;
    margin: 0px 20px;
    border: 2px solid magenta;
}
.col2 > aside{
    width: 30%;
    padding: 0;
    margin: 0;
    border: 2px solid pink;
    float: right;
}